<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <!--PEOPLE-->
    <div class="col-9">
      <!--MENU GOTO WHITE-->
      <div class="row">
        <ul class="goto m-3">
            <li>
              <%= link_to  "MY TALKEYS", users_path, class: 'link' %>
            </li>
            <li>
              <%= link_to  "FOLLOWERS", users_path, class: 'link'%>
            </li>
            <li>
              <%= link_to  "FOLLOWING", users_path, class: 'link' %>
            </li>
            <li>
              <%= link_to  "LOGOUT", users_path, class: 'link'%>
            </li>
          </ul>
      </div>
      <!--TWEETS-->
      <div class="row">
        <% if current_user? %>
          <div class="col-12">
            <%= render 'talk', opinion: @opinion %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class= "col-12">
          <div class="talk">
            <% @opinions.each do |opinion| %>
              <div class="d-flex flex-row">
                <%= image_tag('talky.png', alt: 'talkey', class: 'image m-4') %>
                <div class="d-flex flex-column justify-content-center">
                  <p class="user">@<%= opinion.user.username %></p>
                  <p class="opinion"><%= opinion.body %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!--FOLLOWED BY-->
    <div class="col-3">
      <!--WHO TO FOLLOW TAG-->
      <div class="row mt-4">
        <p>WHO TO FOLLOW</p>
      </div>

      <!--FOLLOWEB PROFILE-->
      <% unless @users.nil? %>
        <% @users.each do |user| %>
          <div class="row mt-3">
            <%= image_tag('talky.png', alt: 'talkey', class: 'col-3') %>
            <div class="col-6">
              <p><%= user.fullname %></p>
              <p><%= user.username %></p>
            </div>
            <%= link_to "/startfollow/#{user.id}" do %>
                <i class="fa fa-2x fa-plus-circle fill-white m-3"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

    <%#= link_to 'Show', opinion %>
    <%#= link_to 'Edit', edit_opinion_path(opinion) %>
    <%#= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %>