<div class="container-fluid">
  <div class="row">
    <!--PEOPLE-->
    <div class="col-9">
      <!--MENU GOTO WHITE-->
      <div class="row">
        <div class="portada ">
          <%= image_tag('catrina1.jpg', alt: 'catrina1', class: 'cover w-100') %>
        </div>
      </div>
      
      <div class="row">
        <%= display_goto_menu %>
      </div>
      
      <!--TWEETS-->
      <div class="row">
        <% if current_user? %>
          <div class="col-12">
            <%= render 'talk', opinion: @opinion %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class= "col-12">
            <%= display_opinions %>  
        </div>
      </div>
    </div>
    <!--FOLLOWED BY-->
    <div class="col-3">
      <!--WHO TO FOLLOW TAG-->
      <div class="row mt-4">
        <p>WHO TO FOLLOW</p>
      </div>
      <!--FOLLOWEB PROFILE-->
      <%= whotofollow %>
    </div>
  </div>
</div>

    <%#= link_to 'Show', opinion %>
    <%#= link_to 'Edit', edit_opinion_path(opinion) %>
    <%#= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %>