<div class="container-fluid">
  <div class="row">

    <!--PEOPLE-->
    <div class="col-9">

      <!--MENU GOTO WHITE-->
      <div class="row">
        <ul class="goto m-3">
          <li>
            <%= link_to  "TALKEYS", user_path(current_user), class: 'link' %>
          </li>
          <li>
            <%= link_to  "FOLLOWERS", users_path(@followers), class: 'link' %>
          </li>
          <li>
            <%= link_to  "FOLLOWING", users_path, class: 'link' %>
          </li>
          <li>
            <%= link_to  "CONNECT", users_path, class: 'link'%>
          </li>
        </ul>
      </div>

      <!--TWEETS-->
      <div class="row">
        <div class="col-12">
          <%= render 'talk', opinion: @opinion %>
        </div>
      </div>
      <div class="row">
        <div class= "col-12">   
          <%= display_userlist %>      
        </div>
      </div>
    </div>

    <!--FOLLOWED BY-->
    <div class="col-3">
      <div class="row mt-4">
        <p>WHO TO FOLLOW</p>
      </div>
      <%= whotofollow %>
    </div>
  </div>
</div>