<div class="container-fluid">
  <div class="row">
    <!--IMAGES AND TWEETS-->
    <div class="col-9">
      <!--IMAGES-->
      <div class="row ">
        <div class="portada ">
          <%= image_tag('catrina1.jpg', alt: 'catrina1', class: 'cover w-100') %>
        </div>
      </div>
      <!--MENU GOTO WHITE-->
      <div class="row">
        <ul class="goto m-3">
          <li>
            <%= link_to  "TALKEYS", user_path(current_user), class: 'link' %>
          </li>
          <li>
            <%= link_to  "FOLLOWERS", users_path(@followers), class: 'link' %>
          </li>
          <li>
            <%= link_to  "FOLLOWING", users_path, class: 'link' %>
          </li>
          <li>
            <%= link_to  "CONNECT", users_path, class: 'link'%>
          </li>
        </ul>
      </div>
      <div class="row">
        <% if current_user? %>
          <div class="col-12">
            <%= render 'talk', opinion: @opinion %>
          </div>
        <% end %>
      </div>
      <!--OPINIONS TALKEYS-->
      <div class="row">
        <div class= "col-12">         
          <% if @opinions.any? %>
            <div class="talk">
              <% @opinions.each do |opinion| %>
                <div class="d-flex flex-row">
                  <%= link_to image_tag('talky.png', alt: 'talkeyuser', class: 'image m-4'), user_path(opinion.user) %>
                  <div class="d-flex flex-column justify-content-center">
                    <p class="user">@<%= opinion.user.fullname %></p>
                    <p class="opinion"><%= opinion.body %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!--FOLLOWED BY-->
    <div class="col-3">
      <!-- PROFILE CHANGE PICTURE-->
      <div class="row right mt-4">
        <div class="d-flex align-items-center justify-content-around m-auto">
          <% unless current_user.follow?(@user) %>
            <%= link_to "/startfollow/#{@user.id}" do %>
                <i class="fa fa-2x fa-plus-circle fill-white m-3"></i>
            <% end %>
            
          <% else %>
            <%= link_to following_path(current_user.stop_to_follow(@user)), method: :delete, data: { confirm: 'Are you sure you stop follow' } do %>
              <i class="fa fa-2x fa-minus-circle fill-white m-3"></i>
            <% end %>
          <% end %>
          <%= image_tag('talky.png', alt: 'userprofile', class: '') %>
          <%= link_to edit_user_path(@user) do %>
              <i class="fa fa-2x fa-gg-circle fill-white m-3"></i>
          <% end %>
        </div>
      </div>

      <!--USERNAME DATA-->
      <div class="row mt-4">
        <div class="d-flex flex-column align-items-center m-auto">
          <p><%= @user.fullname %></p>
          <p><%= @user.username %></p>
        </div>
      </div>

      <!--PROFILE COUNT FOLLOWERS-->
      <div class="row mt-4">
        <div class="col-4">
          <p><%= @user.opinions.count %></p>
          <p>Talkeys</p>
        </div>
        <div class="col-4">
          <p><%= User.fans(@user).count %></p>
          <p>followers</p>
        </div>
        <div class="col-4">
          <p><%= @user.followings.count %></p>
          <p>Followings</p>
        </div>
      </div>

      <!--FOLLOWEB BY TAG-->
      <div class="row mt-4">
        <p>FOLLOWED BY</p>
      </div>

      <!--FOLLOWEB PROFILE-->
      <% @users.each do |user| %>
        <div class="row mt-3">
          <div class="col-3 d-flex align-items-center">
            <%= link_to image_tag('talky.png', alt: 'talkey', class: 'w-100 img'), user_path(user) %>
          </div>
          <div class="col-6">
            <p><%= user.fullname %></p>
            <p>@<%= user.username %></p>
          </div>
          <div class="col-3 m-auto">        
          <% unless current_user.follow?(user) %>
            <%= link_to "/startfollow/#{user.id}" do %>
                <i class="fa fa-2x fa-plus-circle fill-white m-3"></i>
            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
