<!DOCTYPE html>
<html>
  <head>
    <title>SocialNetwork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid">
    <div class="row">
      <div class="col-2 w-100 left-menu">
        <!--SIDE-->
        <div class="row bgc-bluer">
          <!--CURRENT USER_NAME-->
          <div class ="d-flex justify-content-between align-items-center w-100">
            <%= link_to image_tag('talky.png', alt: 'Logo', class: 'img'), users_path %>
            <p>FULL USER_NAME</p>
          </div>
          
          <!--FOLLOWIN COUNT-->
          <div class ="row d-flex justify-content-around align-items-center mt-4 w-100">
            <div class="d-flex flex-column align-items-center">
              <p>250</p>
              <p>Following</p>
            </div>
            <div class="d-flex flex-column align-items-center">
              <p>250</p>
              <p>Followers</p>
            </div>
          </div>
        </div>
        <!--BUTTONS LEFT-->
        <div class="row right">
          <%= link_to users_path, class: 'btn-left w-100' do %>
            <i class="fa fa-sm fa-home fill-gray mr-2"></i><p> HOME</p>
          <% end %>
          <%= link_to users_path, class: 'btn-left w-100' do %>
            <i class="fa fa-sm fa-at fill-gray mr-2"></i><p> CONNECT</p>
          <% end %>
          <%= link_to users_path, class: 'btn-left w-100' do %>
            <i class="fa fa-sm fa-hashtag fill-gray mr-2"></i><p> DISCOVER</p>
          <% end %>
          <%= link_to users_path, class: 'btn-left w-100' do %>
              <i class="fa fa-sm fa-user fill-gray mr-2"></i><p> PROFILE</p>
          <% end %>
        </div>
      </div>


      <div class="col-10"> 
      <!--NAVBAR BLUE-->
        <nav class="row nav">
          <div class="col-12">
            <div class= "d-flex justify-content-between align-items-center">
              <div class = "m-2">
                <%= link_to image_tag('talkyw.png', alt: 'Logo', class: 'icon'), users_path %>
              </div>
              <div class="">
                <%= link_to users_path, class: 'level-item mr-5' do %>
                  <i class="fa fa-sm fa-pencil fill-blue"></i>
                <% end %>
                <%= link_to users_path, class: 'level-item mr-5' do %>
                  <i class="fa fa-sm fa-envelope fill-blue"></i>
                <% end %>
                  <%= link_to users_path, class: 'level-item mr-5' do %>
                  <i class="fa fa-sm fa-search fill-blue"></i>
                <% end %>
                  <%= link_to users_path, class: 'level-item mr-2' do %>
                  <i class="fa fa-sm fa-cog fill-blue"></i>
                <% end %>

                
              </div>
            </div>
          </div>
        </nav>
        <section class="row">
          <%= yield %>
        </section>
      </div>
    </div>
    <footer class="row">
    <div class="col-12 mt-4">
      <div class="d-flex flex-column align-items-center">
        <%= link_to image_tag('talky.png', alt: 'Logo', class: 'img'), users_path %> <br>
        <p class="title"> Talkey social media</p><br>
        <p class="subtitle"> Published: 12 de octubre del 2020</p><br>
        <p>Ing. Jessica Michelle farías rosado</p>
      </div>
    </div>
    </footer>
  </body>
</html>
